
@media only screen and (min-width : 960px) {
  .container { max-width: 960px; }
}

@media only screen and (min-width: 576px) {
  .devise { max-width: 450px !important; }
}

.main-bg {
  background: linear-gradient(45deg, #29bae4 0%, #ee76ad 100%);
  min-height: 100vh;
  //min-width: 100vh;
}

.bg-light {
  background-color: #f7f6f9 !important;
}

.hide {
  display: none;
}

// pagination

a.page-link {
  background-color: #ebeaf7 ;
}

nav.page.pagination {
  margin-left: calc(var(--bs-gutter-x) * 0.5);
}

// search

.search {
  margin-right: 3rem;
}

.search-select {
  width: auto;
}

.match {
  background-color: $indigo-100;
  color: #03775c;
  font-size: 1.1em;
}
