.ranks-stars, span.ranking-stars {
  font-size: 1.1em;
  letter-spacing: 0.1em;
}

.ranks-stars {
  color: #f27777;
}

.ranking-stars {
  a {
    color: #1182a4;
  }

  a:hover {
    color: #f27777;
  }
}

.ranks-text {
  margin-left: 0.5em;
}

.rank-emoji {
  margin-left: calc(var(--bs-gutter-x) * 0.2);
}
