// reviews

.reviews {

  padding: 0 calc(var(--bs-gutter-x) * 0.6);

  h1 {
    color: #8687b3;
  }

  .table {

    td.title {
      word-wrap: anywhere;
      width: 55%;

      a {
        display: block;
        width: 100%;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    td > span.ranks-star {
      margin-inline: 7px;
      color: #9a87de;
    }

    th > span.arrows {
      margin-inline: 7px;
      color: #9a87de;
    }

  }

}

// review

.review {
  h1 {
    color: #8687b3;
  }

  > table th {
    color: #63a6d4;
    width: 12%;
  }

  > .content {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.6em;

    blockquote {
      background-color: #dfe9ff;
      padding: 1em 2em;
    }
  }
}

.review-actions a:link { text-decoration: none;  }
.review-actions a:hover { text-decoration: underline; }
