# change the values to your own
DEPLOY_HOST=tradescantia.example
DEPLOY_USER=deployer
DEPLOY_PATH=/home/deployer/data/tradescantia
DEPLOY_SSH_KEYS=/home/username/.ssh/key, /home/xxx/.ssh/anotherkey
DEPLOY_SSH_PORT=2025
